@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import "reset.scss";

.words-creator {
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  // background-color: #ebf4ff;
  margin: 20px auto;
}

.letter-input {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid red;
  display: block;
  text-align: center;
  font-size: 28px;
  margin: 0;
  outline: none;
}
.word-letters {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.word__title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.word__remove {
  cursor: pointer;
  margin-left: auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.word__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.word-textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  border: 1px solid rgba(0, 66, 105, 0.28);
  padding: 10px;
}
.word__field {
  text-align: left;
  width: 100%;
  margin: 20px 0;
}
.word__title {
  color: #262b31;
  font-weight: 500;
  color: rgba(38, 43, 49, 1);
  margin-bottom: 10px;
}
.word__descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(117, 117, 117, 1);
}

.toggle-head,
.toggle-body {
  padding: 20px;
}
.toggle-head {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  color: rgba(32, 32, 32, 1);

  &::after {
    content: "";
    position: absolute;
    left: 20px;
    height: 1px;
    background-color: rgba(184, 202, 213, 1);
    bottom: 0px;
    width: calc(100% - 40px);
  }
}

.add-word {
  cursor: pointer;
  color: rgba(250, 0, 86, 1);
  border: 1px solid rgba(250, 0, 86, 1);
  border-radius: 4px;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffe7ef;

  svg {
    margin-left: 10px;
  }
}

.settings-item {
  margin-bottom: 20px;
  background-color: #ebf4ff;
}

.plus-btn {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.0875 10.681H10.1975V16.416H8.8025V10.681H2.9125V9.34803H8.8025V3.58203H10.1975V9.34803H16.0875V10.681Z' fill='%23262B31'/%3e%3c/svg%3e ");
}
.minus-btn {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.5165 9.30273H15.4835V10.6977H3.5165V9.30273Z' fill='%23262B31'/%3e%3c/svg%3e ");
}

.plus-btn,
.minus-btn {
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  border: none;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.countere-wrapper {
  display: flex;
  align-items: center;
  gap: 21px;
}

.count-input {
  outline: none;
  text-align: center;
  padding: 12px;
  border: 1px solid rgba(194, 207, 224, 1);
  border-radius: 4px;
  max-width: 80px;
}
